# ===== Build files =====
*.o
*.obj
*.out
*.exe
*.dll
*.so
*.a
*. lib
**/*.exe

# ===== CMake =====
CMakeFiles/
CMakeCache.txt
cmake_install. cmake
Makefile

# ===== IDE / Editor files =====
.vscode/
.idea/
*.code-workspace